<div id="login">
  <div class="container">
    <div class="row">
      <div class="col-6 mx-auto">
        <h1 class="text-center">Sign in to your account</h1>
        <div class="login-form-container">
          <hr />
          <form class="ajax-form">
            <div class="form-group">
              <input
                type="email"
                autofocus="autofocus"
                placeholder="Email Address"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <input
                type="password"
                placeholder="Password"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <input type="checkbox" id="remember" name="rememberMe" />
              <label for="remember">Remember Me</label>
            </div>
            <div class="form-group">
              <button
                type="submit"
                class="btn ajax-button btn-dark btn-lg btn-block"
              >
                <span class="button-text">Sign in</span>
              </button>
            </div>
          </form>
          <p class="text-center">
            <a href="https://ration.io/password/forgot"
              >Forgot your password?</a
            >
          </p>
          <p>
            esto es un test
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
